
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=03b4d37c6a9a0a371c58d3444c80e4a5
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress