
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e59294148079cab64ae9d1adf47eb894
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress